<div class="container">
    <div class="editor" #editor>
        <form action="">
            <div>
                <label for="editType">Edit type</label>
                <select name="editType" id="editType" [(ngModel)]="editType" (ngModelChange)="focusCanvas()">
                    <option value="add">Add block</option>
                    <option value="remove">Remove block</option>
                </select>
            </div>
            <div>
                <label for="blockType">Block type</label>
                <select name="blockType" id="blockType" [(ngModel)]="blockType" (ngModelChange)="focusCanvas()">
                    <option *ngFor="let blockType of enumBlockTypes" [value]="blockType.value">{{blockType.label}}
                    </option>
                </select>
            </div>
            <div class="right">
                <button type="button" (click)="showMap()">Map</button>
            </div>
        </form>
    </div>
    <div class="main">
        <div class="the-eye" [class.hidden]="!mapFlag">
            <app-the-eye (mapClick)="theEyeClick($event)"></app-the-eye>
        </div>
        <app-forge *ngIf="editorReady" [gridWidth]="256" [gridSegments]="16" [heightOffset]="heightOffset"
            [brushType]="editType" [blockType]="blockType" #forge></app-forge>
    </div>
</div>